@using System.Text.RegularExpressions;
@using System.Web
<style>
    .pdf-embed {
        overflow: hidden !important;
        height: calc(100vh - 7rem);
        width: 100%;
        padding-bottom: 47%;
        position: relative;
        margin: auto;
    }

        .pdf-embed embed,
        .pdf-embed iframe,
        .pdf-embed object {
            height: 100%;
            position: absolute;
            margin: auto;
            width: 100%;
        }</style>

@if (ViewMode == "overview")
{

    <div class="boardlanding-container">

        @if (board.Projects != null)
        {
            if (board.Projects.Count == 1)
            {
                <div class="boardlanding-partof">Part of the &nbsp<a href="@board.Projects.First().ProjectHref">@board.Projects.First().ProjectTitle</a>&nbsp Project</div>
            }
            else if (board.Projects.Count == 2)
            {
                <div class="boardlanding-partof">Part of the &nbsp <a href="@board.Projects.First().ProjectHref">@board.Projects.First().ProjectTitle</a>&nbsp and &nbsp<a href="@board.Projects.ElementAt(1).ProjectHref">@board.Projects.ElementAt(1).ProjectTitle</a>  &nbsp Projects</div>
            }
        }
        <div class="boardlanding-image">
            <img src="@board.BoardMainImage">
        </div>
    </div>
    <div class="boardlanding-description">

        <div>
            @((MarkupString)Regex.Replace(HttpUtility.HtmlEncode(board.BoardDescription), "\n", "<br />"))
        </div>
    </div>
}
else if (ViewMode == "pdf")
{
    <div class="pdf-embed">
        <object data="@normalPDF(board.BoardPDF)" type="application/pdf">
        </object>
    </div>
}


@code {
    [Parameter] public Board board { get; set; } = BoardLoader.Z5;
    [Parameter] public string ViewMode { get; set; } = "overview";
    private string PDFprefix = @"https://drive.google.com/viewerng/viewer?embedded=true&url=";
    private string googlePDFPrefix = "https://docs.google.com/viewer?url=https://zacharykilburn.com/";
    private string PDFsuffix = @"#toolbar=0&navpanes=0&view=FitWidth";

    //<iframe src="@buildgoogleURL(board.BoardPDF)" style="width:100%; height:650px;" frameborder="0"></iframe>
    private string normalPDF(string pdffile)
    {
        return pdffile + PDFsuffix;
    }
    private string buildPDFURL(string pdffile)
    {
        return PDFprefix + pdffile;
    }
    private string buildgoogleURL(string pdffile)
    {
        return googlePDFPrefix + pdffile + "&embedded=true";
    }
}
