@using System.Text.RegularExpressions;
@using System.Web
<style>
	.pdf-embed {
		overflow: hidden !important;
		height: auto;
		width: 100%;
		padding-bottom: 47%;
		position: relative;
		margin: auto;
	}

		.pdf-embed embed,
		.pdf-embed iframe,
		.pdf-embed object {
			height: 100%;
			position: absolute;
			margin: auto;
			width: 100%;
		}</style>

@if (ViewMode == "overview")
{
	<h3>@board.BoardPN - @board.BoardTitle - Overview</h3>
	<div>
		<img src="@board.BoardMainImage" width="20%">
	</div>
	<div>
		<br/>
		@if (board.Projects!=null && board.Projects.Count == 1)
		{
			<p>Part of the <a href="@board.Projects.First().ProjectHref">@board.Projects.First().ProjectTitle</a> Project</p>
		}
		else if (board.Projects != null && board.Projects.Count == 2)
		{
			<p>Part of the <a href="@board.Projects.First().ProjectHref">@board.Projects.First().ProjectTitle</a> and <a href="@board.Projects.ElementAt(1).ProjectHref">@board.Projects.ElementAt(1).ProjectTitle</a>  Projects</p>			
		}
		<br/>
		@((MarkupString)Regex.Replace(HttpUtility.HtmlEncode(board.BoardDescription), "\n", "<br />"))
	</div>

}
else if (ViewMode == "pdf")
{
	<h3>@board.BoardPN - @board.BoardTitle - PDF</h3>
	<div class="pdf-embed">
		<embed src="@board.BoardPDF#toolbar=0&navpanes=0&view=Fit" />
	</div>
}

@code {
	[Parameter] public Board board { get; set; }
	[Parameter] public string ViewMode { get; set; } = "overview";

}
