@page "/boards/{boardpn?}"
@inject IMessageService MessageService
@inject BoardLoader _boards
@inject NavigationManager _nav

@if (selectedBoard == null)
{
	<div class="top-row">
		<h3>Boards</h3>
	</div>
	<div class="px-4">
		<div class="grid-container">
			@{

				int index = 0;
				foreach (var b in BoardLoader.Boards)
				{
					<div class="grid-item" @onclick="(()=>SelectProject(b.BoardHref))">

						<img src="@b.BoardMainImage" height="200px">
						<br />
						<br />
						<h5 style="align-items:center;">@b.BoardPN - @b.BoardTitle</h5>
					</div>
					index++;
				}
				@while (index % 3 != 0)
				{
					index++;
					<div class="grid-item"> Coming Soon	</div>
				}
			}
		</div>
	</div>
}
else if (selectedBoard != null)
{
	<div class="top-row">
		@if (ViewMode == modeOverview)
		{
			<div class="board-title">
				<h3>@selectedBoard.BoardPN - @selectedBoard.BoardTitle - Overview</h3>

			</div>
			<div class="board-controls">
				<button class="mode-btn active" @onclick="(()=>ViewMode=modeOverview)">Overview</button>
				<button class="mode-btn" @onclick="(()=>ViewMode=modePDF)">Design</button>
			</div>

		}
		else if (ViewMode == modePDF)
		{
			<div class="board-title">
				<h3>@selectedBoard.BoardPN - @selectedBoard.BoardTitle - PDF</h3>
			</div>
			<div class="board-controls">
				<button class="mode-btn" @onclick="(()=>ViewMode=modeOverview)">Overview</button>
				<button class="mode-btn active" @onclick="(()=>ViewMode=modePDF)">Design</button>
			</div>

		}
	</div>
	<div class="px-4">
		<div class="board-container">
			<BoardLandingContent board="@selectedBoard" ViewMode="@ViewMode"></BoardLandingContent>
		</div>
	</div>
}
@code {
	[Parameter] public string? boardPN { get; set; }

	private static readonly string modeOverview = "overview";
	private static readonly string modePDF = "pdf";
	private string ViewMode = modeOverview;

	private Board? selectedBoard;

	private void SelectProject(string pref)
	{
		_nav.NavigateTo(pref);

	}
	protected override void OnParametersSet()
	{
		if (boardPN != null)
		{
			selectedBoard = BoardLoader.GetBoardByPN(boardPN);
		}
		else
		{
			selectedBoard = null;
		}
		ViewMode = modeOverview;
		MessageService.SendMessage("boardsload");
		base.OnParametersSet();
	}


	private List<string> messages = new List<string>();
	protected override void OnInitialized()
	{
		// subscribe to OnMessage event
		MessageService.OnMessage += MessageHandler;
	}

	public void Dispose()
	{
		// unsubscribe from OnMessage event
		MessageService.OnMessage -= MessageHandler;
	}

	private void MessageHandler(string message)
	{

	}
}
