@inject NavigationManager _nav
@inject IMessageService MessageService
@inject ProjectLoader _projects
@inject BoardLoader _boards
<div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="">Zachary Kilburn</a>
		<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</div>

<div class="@NavMenuCssClass nav-scrollable" >
	<nav class="flex-column">
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All" @onclick="ToggleNavMenu">
				<span class="oi oi-home" aria-hidden="true"></span> Home
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="experience" @onclick="ToggleNavMenu">
				<span class="oi oi-list-rich" aria-hidden="true"></span> Experience
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="education" @onclick="ToggleNavMenu">
				<span class="oi oi-list-rich" aria-hidden="true"></span> Education
			</NavLink>
		</div>
		<div class="nav-item px-3" style="position:relative;">

			<CollapsibleButton Collapsible="true" Collapsed="@projectCollapsibleCollapsed" collapsibleClass="projects" ButtonText="Projects">
				@foreach (var p in _projects.projects)
				{
					<NavLink class="nav-link" href="@p.ProjectHref" @onclick="ToggleNavMenu">
						@p.ProjectTitle
					</NavLink>
				}
			</CollapsibleButton>


		</div><div class="nav-item px-3">
			<CollapsibleButton Collapsible="true" Collapsed="@boardCollapsibleCollapsed" collapsibleClass="boards" ButtonText="Boards">
				@foreach (var b in _boards.boards)
				{
					<NavLink class="nav-link" href="@b.BoardHref" @onclick="ToggleNavMenu">
						@b.BoardTitle
					</NavLink>
				}
			</CollapsibleButton>


		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="resume" @onclick="ToggleNavMenu">
				<span class="oi oi-list-rich" aria-hidden="true"></span> Resume
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="aboutme" @onclick="ToggleNavMenu">
				<span class="oi oi-list-rich" aria-hidden="true"></span> About Me
			</NavLink>
		</div>
	</nav>
</div>

@code {
	protected override void OnInitialized()
	{
		// subscribe to OnMessage event
		MessageService.OnMessage += MessageHandler;

		base.OnInitialized();
	}
	private bool collapseNavMenu = true;

	private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
	bool projectCollapsibleCollapsed = true;
	bool boardCollapsibleCollapsed = true;
	string projectsPageRoot = "projects";
	string boardPageRoot = "board";
	private void NavigateTo(object uri)
	{
		_nav.NavigateTo((string)uri);
	}
	private string BuildProjectLink(string projectHref)
	{
		return projectsPageRoot + "/" + projectHref;
	}
	private List<string> messages = new List<string>();


	public void Dispose()
	{
		// unsubscribe from OnMessage event
		MessageService.OnMessage -= MessageHandler;
	}

	private void MessageHandler(string message)
	{
		if(message == "boardsexpand")
		{
			boardCollapsibleCollapsed = false;
		}
		if(message == "boardscollapse")
		{
			boardCollapsibleCollapsed = true;
		}
		if (message == "projectsexpand")
		{
			projectCollapsibleCollapsed = false;
		}
		if (message == "projectscollapse")
		{
			projectCollapsibleCollapsed = true;
		}
		if (message == "projectsload")
		{			
			if (!boardCollapsibleCollapsed)
			{
				boardCollapsibleCollapsed = true;
				StateHasChanged();
			}
		}
		if (message.Contains("boardsload"))
		{		
			if (!projectCollapsibleCollapsed)
			{
				projectCollapsibleCollapsed = true;
				StateHasChanged();
			}
		}


	}
}
